/*
 * Copyright 2013 Freescale Semiconductor, Inc.
 *
 * Author: Fabio Estevam <fabio.estevam@freescale.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-g2h.dtsi"

/ {
	model = "Reach Tech i.MX6 Solo G2H Board";
	compatible = "reach,imx6dl-g2h", "fsl,imx6dl";

	/*
	 * Panel: 10.1" WXGA
	 * Touch: evervision
	 * Display Interface: LDB
	 * LDB Clock: PLL2
	 */

	mxcfb1: fb@0 {
		compatible = "fsl,mxc_sdc_fb";
		disp_dev = "ldb";
		interface_pix_fmt = "RGB24";
		default_bpp = <32>;
		int_clk = <0>;
		late_init = <0>;
		status = "okay";
	};

	sound {
		status = "okay";
	};
};

&clks {
	fsl,ldb-di0-parent = <&clks IMX6QDL_CLK_PLL2_PFD0_352M>;
	fsl,ldb-di1-parent = <&clks IMX6QDL_CLK_PLL2_PFD0_352M>;
};

&epdc {
	status = "disabled";
};

&evervision {
	status = "okay";
};

&i2c1 {
	codec: sgtl5000@0a {
		status = "okay";
	};
};

&flexcan1 {
	status = "okay";
};

&ldb {
	status = "okay";
	lvds_en_gpio = <&gpio2 8 1>;
	disp_en_gpio = <&gpio2 11 1>;

	lvds-channel@0 {
		fsl,data-mapping = "spwg";
		fsl,data-width = <24>;
		status = "okay";

		display-timings {
			native-mode = <&timing0>;
			timing0: wxga {
				clock-frequency = <65000000>;
				hactive = <1280>;
				vactive = <800>;
				hback-porch = <220>;
				hfront-porch = <40>;
				vback-porch = <21>;
				vfront-porch = <7>;
				hsync-len = <60>;
				vsync-len = <10>;
			};
		};
	};
};

&spiflash {
	status = "okay";
};

&ssi1 {
	status = "okay";
};
