/*
 * Copyright 2013 Freescale Semiconductor, Inc.
 *
 * Author: Fabio Estevam <fabio.estevam@freescale.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include "imx6dl.dtsi"
#include "imx6qdl-g2h.dtsi"

/ {
	model = "Freescale i.MX6 Dual Lite Hawthorne Board";
	compatible = "fsl,imx6dl-g2h", "fsl,imx6dl";
};

&mxcfb1 {
	status = "okay";
};

&mxcfb2 {
	status = "okay";
};

&mxcfb3 {
	status = "disabled";
};

&mxcfb4 {
	status = "disabled";
};

&epdc {
	status = "disabled";
};

&evervision {
	status = "okay";
};

&tsc2046 {
	status = "okay";
};

&spiflash {
	status = "okay";
};
